--
-- PostgreSQL database dump
--

-- Dumped from database version 13.2
-- Dumped by pg_dump version 13.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: consult_phys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consult_phys (
    fullname text NOT NULL,
    email text NOT NULL,
    telephone bigint,
    languages text[] NOT NULL,
    specialty text[],
    time_in timestamp with time zone NOT NULL,
    training text[] NOT NULL,
    certification text[] NOT NULL,
    special_skills text[],
    special_interest text[],
    experience text[] NOT NULL,
    time_out timestamp with time zone NOT NULL,
    location_ text
);


ALTER TABLE public.consult_phys OWNER TO postgres;

--
-- Name: local_facility; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.local_facility (
    facility_name text,
    facility_type text,
    facility_location text,
    o_i_c text,
    staffing text[],
    supplies text[],
    diagnostic_equipment text[],
    telehealth_equipment text[],
    pharmacy_near interval,
    major_medic_centre interval,
    hospital_near interval,
    physician_near interval,
    environment text,
    economic_status text
);


ALTER TABLE public.local_facility OWNER TO postgres;

--
-- Name: local_provider; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.local_provider (
    fullname text,
    gender text,
    provider_type text,
    training text[],
    experience text[],
    computer_skill text[],
    local_facility text[]
);


ALTER TABLE public.local_provider OWNER TO postgres;

--
-- Name: patient_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patient_profile (
    fullname text NOT NULL,
    gender text NOT NULL,
    contact text NOT NULL,
    religion_culture text NOT NULL,
    telephone text NOT NULL,
    languages text[] NOT NULL,
    assessment text,
    history text[],
    objective text[],
    attached_files text[],
    response_time interval hour,
    time_of_compalint timestamp with time zone
);


ALTER TABLE public.patient_profile OWNER TO postgres;

--
-- Data for Name: consult_phys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: local_facility; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.local_facility (facility_name, facility_type, facility_location, o_i_c, staffing, supplies, diagnostic_equipment, telehealth_equipment, pharmacy_near, major_medic_centre, hospital_near, physician_near, environment, economic_status) FROM stdin;
\.


--
-- Data for Name: local_provider; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.local_provider (fullname, gender, provider_type, training, experience, computer_skill, local_facility) FROM stdin;
\.


--
-- Data for Name: patient_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

